.event {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 13px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    width:400px;
    max-width: 400px;
  }
  
  .img {
    flex: 1;
    margin: 10px;
  }
  
  .info {
    flex: 2;
  }
  
  @media (max-width: 600px) {
    .event {
      flex-direction: column;
      text-align: center;
    }
  
    .info {
      margin-bottom: 20px;
    }
  }